<div class="container">
  <div class="row" style="padding-top:12px">
    <h2>Search for a recipe</h2>
    <%= form_tag(recipes_path, method: :get, :class => 'form-horizonal') do %>
      <div class="container">
        <div class="row">
          <div class="col-sm-10">
            <div class="form-group row">
              <%= text_field_tag(:query, query, :class => 'form-control') %>
            </div>
          </div>
          <div class="col-sm-2">
            <div class="form-group">
              <%= submit_tag('Search', :class => 'btn btn-primary') %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="row">
    <div class="container">
      <% recipes.each do |recipe| %>
        <%= react_component("home/RecipeListItem", { 
          id: recipe.id, 
          recipe: recipe,
          default_preview: image_path("unknown.jpg")
        }) %>
      <% end %>
    </div>
  </div>
</div>