<div class="container">
  <div class="row" style="padding-top:12px">
    <h2>Search for a recipe</h2>
    <%= form_tag(recipes_path, method: :get, :class => 'form-horizonal') do %>
      <div class="container">
        <div class="row">
          <div class="col-sm-8 col-lg-9">
            <div class="form-group row">
              <%= text_field_tag(:query, query, :class => 'form-control') %>
            </div>
          </div>
          <div class="col-sm-4 col-lg-3">
            <div class="btn-group">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sort
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li class="dropdown-item" data-sort="last_viewed-desc" href="#">Most recently viewed (default)</li>
                <li class="dropdown-item" data-sort="last_viewed" href="#">Least recently viewed</li>
                <li class="dropdown-item" data-sort="name" href="#">Name A-Z</li>
                <li class="dropdown-item" data-sort="name-desc" href="#">Name Z-A</li>
                <li class="dropdown-item" data-sort="created_at-desc" href="#">Newest</li>
                <li class="dropdown-item" data-sort="created_at" href="#">Oldest</li>
              </div>
            </div>
            <div class="btn-group">
              <%= submit_tag('Search', :class => 'btn btn-primary') %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="row">
    <div class="container">
      <% recipes.each do |recipe| %>
        <%= react_component("recipes/RecipeListItem", { 
          id: recipe.id, 
          recipe: recipe,
          default_preview: image_path("unknown.jpg")
        }) %>
      <% end %>
    </div>
  </div>
</div>

<script>
  $("li.dropdown-item").click(function(){
    const sort = $(this).data('sort');
    var query = $('#query').val();
    query = query.replace(/sort:[^ ]+( |$)/i, '');
    query = query + "sort:" + sort + " ";
    $('#query').val(query);
    $("input[type=submit]").click(); // auto-submit
  });
</script>