<div class="container p-3 border">
  <%= form_for recipe do |form| %>
    <div class="form-group">
      <%= form.label :url %>
      <%= form.text_field :url %>
    </div>

    <%= form.submit class: "btn btn-primary" %>
  <% end %>
</div>