<% content_for :title, "New Recipe" %>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <%= react_component("recipes/RecipeEditor", { 
        recipe: @recipe, 
        update_url: recipes_path, 
        show_url: recipes_path,
        default_preview: image_path("unknown.jpg"),
        is_new: true
      }) %>
    </div>
  </div>
</div>
