<div class="container">
  <div class="row">
    <div class="container">
      <% recipes.each do |recipe| %>
        <%= react_component("home/RecipeListItem", { id: recipe.id, recipe: recipe }) %>
      <% end %>
    </div>
  </div>
</div>