<div class="container">
  <div class="row">
    <div class="container">
      <% recipes.each do |recipe| %>
        <%= react_component("recipes/RecipeListItem", { 
          id: recipe.id,
          name: recipe.name,
          tags: recipe.tags,
          preview_url: recipe.preview_url,
          default_preview: image_path("unknown.jpg")
        }) %>
      <% end %>
    </div>
  </div>
</div>