<% content_for :title, recipe.name %>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <%= react_component("recipes/RecipeViewer", { 
        recipe: recipe, 
        edit_url: edit_recipe_path(recipe),
        default_preview: image_path("unknown.jpg")
      }) %>
    </div>
  </div>
</div>