<h1>Recipes!</h1>

<div class="container p-3 border">
  <%= form_for :recipe, :url => url_for(:controller => 'recipes', :action => 'create_from_url') do |form| %>
    <div class="form-group">
      <%= form.label :url %>
      <%= form.text_field :url %>
    </div>

    <%= form.submit class: "btn btn-primary" %>
  <% end %>
</div>