<div class="container p-3">
  <div class="row">
    <h1>Results</h1>
  </div>

  <div class="row">
    <div class="container">
      <% recipes.each do |recipe| %>
        <%= react_component("home/RecipeListItem", { id: recipe.id, recipe: recipe }) %>
      <% end %>
    </div>
  </div>

</div>