// Place all the styles related to the Recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.recipe-card {
  //max-width: 925px;
  margin: 0 auto;

  ul,
  ol {
    padding-left: 18px;

    li {
      padding-top: 9px;
    }
  }
}

.recipe-card > div {
  padding: 12px;
}

.recipe-card-left {
  width: 40%;
  float: left;
}

.recipe-card-right {
  width: 60%;
  float: right;
}

.recipe-card-preview {
  max-width: 100%;
  border: solid 4px gray;
  max-height: 550px;
}

.recipe-card-name {
  border: solid 6px #1e90ff;
  margin: 9px;
}

.recipe-card-servings,
.recipe-card-times {
  font-style: italic;
  font-size: medium;
}

.recipe-card-ingredient-group-name {
  margin-top: 12px;
  margin-bottom: 0px;
}

input.recipe-card-recipe-name-edit-input {
  font-weight: bold;
  font-size: xx-large;
}

input.recipe-ingredient-group-edit-input {
  font-weight: bold;
  margin-top: 12px;
}

.recipe-ingredient-item-edit-area {
  resize: none;
}

.recipe-direction-edit-area {
  resize: none;
}
