// Place all the styles related to the Recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.recipe-card {
  //max-width: 925px;
  margin: 0 auto;

  ul, ol {
    padding-left: 18px;
    margin-bottom: 1rem;
    li {
      padding-top: 9px;
    }
  }
}

.recipe-editor .recipe-card {
  ul, ol {
    li:first-child {
      padding-top: 0px;
    }

    // Only remove the padding for the top level ul/ol, for nested lists keep it
    ul:first-child, ol:first-child {
      li {
        padding-top: 9px;
      }
    }
  }
}


ul.editable-text-area-list {
  list-style-type: none;
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
}

.editable-text-area-list-item .hidden-child {
  visibility: hidden;
}

.editable-text-area-list-item:hover > .hidden-child{
  visibility: visible;
}

.recipe-card > div {
  padding: 12px;
}

.recipe-card-left {
  width: 40%;
  float: left;
}

.recipe-card-right {
  width: 60%;
  float: right;
}

.sidebar {
  position: fixed;
  right: 15%;
  height: 100%;
  width: 15%;
  margin-right: -15%; // Same as width!
  overflow-y: auto;
  border-left: solid 2px #1e90ff;
  border-top: solid 2px #1e90ff;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.recipe-card-preview {
  max-width: 100%;
  border: solid 4px gray;
  max-height: 550px;
}

.recipe-card-name {
  border: solid 6px #1e90ff;
  margin: 9px;
}

.recipe-card-servings,
.recipe-card-times {
  font-style: italic;
  font-size: medium;
}

.recipe-card-ingredient-group-name {
  margin-top: 12px;
  margin-bottom: 0px;
}

input.recipe-card-recipe-name-edit-input {
  font-weight: bold;
  font-size: xx-large;
}

input.recipe-ingredient-group-edit-input {
  font-weight: bold;
  margin-top: 12px;
}

.recipe-ingredient-item-edit-area {
  resize: none;
}

.recipe-direction-edit-area {
  resize: none;
}
